/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER */

header{
    width: 100%;
    height: 90px;
    background-color: #202020;
    color: white;
   
}

header > *{
    margin: auto;
}

header * {
    color: white;
}

* a{
    color: white;
    text-decoration: none;
}


/* TOP-HEADER */

.top-header{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #393939;
}

.left-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav > *{
    margin: 0 5px;
}   

.center-nav img{
    width: 120px;
    height: 50px;
    display: block;
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav img{
    width: 30px;
    height: 30px; 
}

#logo-shield{
    margin-right: 5px;
}

#shield-marvel{
    display: flex;
}

#text-marvel{
    display: flex;
   flex-direction: column;
}

#search{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BOTTOM-HEADER */

.bottom-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-header ul{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 30px;
    align-items: center;
}

/* MAIN */

main{
    color: white;
}

.insider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.insider img{
    width: 70px;
    height: 40px;
}

.insider #text{
    margin-right: 10px;
}


.bg-img{
    width: 100%;
    height: 500px;
    background-image: url(images/bg-marvel.jpeg);
    background-size: cover;
    background-position: center;
}

.opacity{
    background-color:rgba(1, 1, 1, 0.358);
    width: 100%;
    height: 500px;
    position: relative;
}
.main-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.main-text > h1{
    font-size: 2.5em;
    margin-bottom: 5px;
}

.main-text > h2{
    font-size: 1em;
}

/* TOP-FOOTER */

footer{
    width: 100%;
    height: 700px;
    color: white;
    background-color: #000000;
}

.top-footer{
    display: flex;
    width: 1200px;
    margin: auto;
}

.left-container,
.right-container{
    width: 50%;
    height: 300px;
    background-color: blue;
}

.left-container{
    background-image: url(images/footer-img.jpeg);
    background-size: cover;
    position: relative;
}

.left-container .overlay{
    width: 100%;
    height: 300px;
    background-color: #2020207d;
    position: relative;
}

.left-container img{
    width: 100px;
    height: 30px;
}

.left-container .overlay > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-container{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.right-container *{
    margin-top: 10px;
}

small{
    position: absolute;
    bottom: 5px;
}

/* BOTTOM-FOOTER */


.bottom-footer{
    width: 100%;
    height: 300px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container-footer,
.right-container-footer{
    width: 40%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
}

.small-container{
    width: 15%;
    height: 150px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.big-container{
    width: 40%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.left-container-footer > .small-container{
    background-image: url(images/m-logo.png);
    background-size: cover;
    background-position: center;
}

.icons{
    color: #767676;
    display: flex;
  justify-content: space-around
  ;

}

.big-container p{
    font-size: 12px;
    color: #767676;
}

.small-container > img{
    width: 40px;
    height: 20px;
}

#follow{
  text-align: center;
}

.icons *{
    color: #767676;
}

.privacy{
    width: 100%;
    height: 100px;
    background-color: #151515;
    color: #767676;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy div{
    margin-right: 15px;
}

