/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header{
    width: 100%;
    height: 100px;
    background-color: #202020;

}


header *{
    color: white;
    line-height: 50px;
    text-align: center;
    
}
    

.top-header{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #393939 ;
}

.top-header img{
    width: 130px;
    height: 50px;
}

.top-header > *{
    height: 50px;
    text-decoration: none;
    padding: 0 10px;
    
}


.top-header .with-border{
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
}

#icon-shield{
    width: 24px;
    height: 24px;
}

.subscribe{
    position: absolute;
    left: 50%;
    bottom: 10px;
}

.search{
    height: 50px;
    display: inline-block;
    border-left: 1px solid #393939;
    padding: 0 10px;
}

#right-nav{
    position: relative;
}


