/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    width: 100%;
    height: 90px;
    background-color: #202020;
}

header > *{
    margin: auto;
}

.top-header{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.top-header *{
    width: 100px;
    height: 50px;
    background-color: red;
}

.mid-header{
    width: 50%;
    height: 40px;
    background-color: red;
}

.bottom-header{
    width: 25%;
    height: 40px;
    background-color: red;
}

.left-nav{
    display: flex;
    justify-content: center;
}

.left-nav > *{
    width: 20px;
    height: 50px;
    background-color: blue;
    border: 1px solid black;
    margin: 0 5px;
}

.right-nav{
    width: 200px;
    display: flex;
}

.right-nav > *{
    background-color: blue;
    border: 1px solid black;
}

#shield-marvel{
    display: flex   ;
    width: 150px;
    height: 50px;
}

#shield-marvel > *{
    background-color: yellow;
    
    
}

#logo-shield{
    width: 50px;
    height: 50px;
}

#text-marvel{
    width: 100px;
    height: 50px;
    display: flex;
   flex-direction: column;
}

#text-marvel > *{
    background-color: aqua;
    border: 1px solid black;

}

#search{
    width: 50px;
    height: px;
}

.bottom-header{
    display: flex;
    justify-content: center;
}

.bottom-header ul{
    display: flex;
    justify-content: space-between;
}

ul li{
    list-style: none;
    width: 70px;
    height: 40px;
    background-color: blue;
    border: 1px solid black;
    margin: 0 5px;
}

/* MAIN */

main{
    color: white;
}

.insider{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.insider > *{
    width: 200px;
    height: 40px;
    background-color: blue;
    border: 1px solid black; 
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-img{
    width: 100%;
    height: 500px;
    background-image: url(images/bg-marvel.jpeg);
    background-size: cover; */
}

.opacity{
    background-color:rgba(1, 1, 1, 0.358);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-text{
    position: absolute;
    transform: translate(-50% -50%);
    text-align: center;
}

h2,
h5{
    font-size: 1.5em;

}

